[color]
status = auto
diff = auto

[alias]
    s     = status -s
    c     = "commit -m"
    co    = "checkout"
    cob   = "checkout -b"
    cop   = checkout -p
    a     = add
    ap    = add -p
    l     = log --graph --topo-order --abbrev-commit --date=short --decorate --all --boundary --pretty=format:'%Cgreen%ad %Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue[%cn]%Creset %Cblue%G?%Creset'
    prune = remote prune origin


[push]
	default = simple
	autoSetupRemote = true
[fetch]
	prune = true

[pager]
    branch = false

[core]
	fsmonitor = true
	untrackedcache = true
[user]
	name = Sam Kirsch
	email = samkirsch@fullstory.com

[includeIf "gitdir:/Users/samkirsch/src/walmart-github/**"]
  path = /Users/samkirsch/src/walmart-github/.gitconfig