# Already Set: MN_HOME
THIS_DIR="/Users/samkirsch/src/fsdev/"
# Duplicated in ~/.fsprofile
export FSDEV_HOME=${THIS_DIR}
export FS_HOME=${MN_HOME}/projects/fullstory
export FS_LOCAL="yes, local dev"
export FS_SLACKER_MESSAGE_LOCAL_DEV=1

# fsdev-direnv
export CARGO_HOME="${FSDEV_HOME}/tools/cargo"
export RUSTUP_HOME="${FSDEV_HOME}/tools/rustup"
export GOPATH=${FS_HOME}/go
export GOBIN=
export GOROOT=${FSDEV_HOME}/tools/go
export JAVA11_HOME=${FSDEV_HOME}/tools/jdk11
export JAVA_HOME=${FSDEV_HOME}/tools/jdk11
export PYTHON_HOME=${FSDEV_HOME}/tools/python
export HELM_HOME=${FS_HOME}/etc/cfg/helm/.helm
export CLOUDSDK_PYTHON="${PYTHON_HOME}/bin/python"

# tool paths (LIFO - last added is first dir to be searched)
PATH_add ${FSDEV_HOME}/tools/cargo/bin
PATH_add ${FSDEV_HOME}/tools/go/bin
PATH_add ${JAVA_HOME}/bin
PATH_add ${FSDEV_HOME}/tools/node/bin
PATH_add ${FSDEV_HOME}/tools/python3/bin
# same as one of the previous pythons but this takes precedence and allows us to change python by changing the symlink
PATH_add ${FSDEV_HOME}/tools/python/bin
PATH_add ${FSDEV_HOME}/tools/flatbuffers/bin
PATH_add ${FSDEV_HOME}/tools/google-cloud-sdk/bin
PATH_add ${FSDEV_HOME}/tools/helm
PATH_add ${FSDEV_HOME}/tools/packer
PATH_add ${FSDEV_HOME}/tools/sops
PATH_add ${FSDEV_HOME}/tools/terraform
PATH_add ${FSDEV_HOME}/tools/bazel
PATH_add ${FSDEV_HOME}/tools/ibazel
PATH_add ${FSDEV_HOME}/tools/buildifier
PATH_add ${FSDEV_HOME}/tools/buildozer
PATH_add ${FSDEV_HOME}/tools/mkcert
PATH_add ${FSDEV_HOME}/tools/circleci-cli

PATH_add ${FSDEV_HOME}/tools/postgresql/bin

# Our Bins
PATH_add ${FS_HOME}/bin
PATH_add ~/bin

